{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges_app/challenges.css" %}">
  <link rel="stylesheet" href="{% static "challenges_app/includes/header.css" %}">
{% endblock css_files %}

{% block page_title %}
    All Challenges
{% endblock page_title %}
{% block content %}
    {% include "challenges_app/includes/header.html" %}
    <ul>
        {% for month in months %}

            <li><a href="{% url 'month_challenge' month=month  %}">{{ month | title }}</a></li>

        {% endfor %}
    </ul>        
{% endblock content %}

